@model IEnumerable<WebDungCuLamBanh.Models.AdminModel>

@{
    ViewData["Title"] = "Nhân viên";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Danh sách nhân viên</h1>

<p>
    <a asp-action="Create">Thêm nhân viên mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Tên người dùng
            </th>
            <th>
                Tên
            </th>
            <th>
                Quyền
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenNguoiDung)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ten)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quyen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.TenNguoiDung">Sửa</a> |
                        <a asp-action="Details" asp-route-id="@item.TenNguoiDung">Xem</a> |
                        <a asp-action="Delete" asp-route-id="@item.TenNguoiDung">Xoá</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
