@model IEnumerable<WebDungCuLamBanh.Models.DonHangVanChuyenModel>

@{
    ViewData["Title"] = "Đơn hàng";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Tất cả đơn hàng</h1>
<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Đơn hàng chưa giao
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.donHangChuaGiao đơn hàng</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Đơn hàng đang giao
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.donHangDangGiao đơn hàng</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Đơn hàng đã giao
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.donHangDaGiao đơn hàng</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                            Đơn hàng bị huỷ
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.donHangDaHuy đơn hàng</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="overflow-x: auto;">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>
                    Mã ĐH
                </th>
                <th>
                    PTTT
                </th>
                <th>
                    Địa chỉ
                </th>
                    
                <th>
                    Thông tin liên hệ
                </th>
                <th style="width:200px;">
                    Tình Trạng
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a id="MaHD" href="/Administrator/OrderDetail/@item.Id_DonHang">
                            @if(item.Id_DonHang.Length > 15)
                            {
                                @item.Id_DonHang.Substring(27);
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.Id_DonHang)
                            }
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhuongThucThanhToan.TenPTTT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChiVanChuyen)
                    </td>
                    <td>
                        <ul>
                            <li>@Html.DisplayFor(modelItem => item.TenKhachHang)</li>
                            <li>@Html.DisplayFor(modelItem => item.Email)</li>
                            <li>@Html.DisplayFor(modelItem => item.SoDienThoai)</li>
                        </ul>
                    </td>
                    <td>
                        <select id="TinhTrang_@item.Id_DHVC" onchange="changeState('@item.Id_DHVC','@item.DonHang.Id_KhachHang','@item.Id_DonHang')" asp-for="@item.TinhTrang" asp-items="ViewBag.TrangThaiVanChuyen" class="form-select form-select-sm me-3 transparent-input" aria-label=".form-select-sm"></select>
                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        <script type="module" src="~/js/firebase.js"></script>
                        <script type="text/javascript" src="~/js/changeStateOrder.js"></script>         
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


