@model IEnumerable<WebDungCuLamBanh.Models.BannerModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenBanner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuongDan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LienKet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenBanner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuongDan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LienKet)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Banner">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Banner">Details</a> |
                <a asp-action="DeleteBanner" asp-route-id="@item.Id_Banner">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
