@model WebDungCuLamBanh.Models.DungCuModel;

@using WebDungCuLamBanh.Helpers;

@{
    ViewData["Title"] = Model.TenDungCu;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/detail.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="p-3 p-sm-4 p-lg-5">
    <nav style="--bs-breadcrumb-divider: '>'; padding-top:0px;padding-left:20px;" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Product">Sản phẩm</a></li>
            <li class="breadcrumb-item" aria-current="page">@Model.TenDungCu</li>
        </ol>
    </nav>
    <div class="row justify-content-center py-3" style="background-color:white;border-radius:20px;padding:20px;padding-top:30px!important;">
        <div class="col-md-6" style="margin-bottom:20px;">
            <img src="@Model.HinhAnh" class="img img-fluid mb-sm-4 mb-md-0" width="500" style="border-radius:20px">
        </div>
        <div class="col-md-6">
            <h1 class="league-spartan">@Model.TenDungCu</h1>
        <div>
            @if (Model.GiaKhuyenMai == 0 || Model.GiaKhuyenMai == null)
            {
                <p><h2><span class="text-danger fw-bold league-spartan">@Html.FormatCurrency(Model.Gia.Value)</span> </h2></p>
            }
            else
            {
                <p><h3><span style="margin-right:5px" class="text-danger fw-bold league-spartan">@Html.FormatCurrency(Model.GiaKhuyenMai.Value)</span> <del style="color:gray;margin-right:5px" class="league-spartan">@Html.FormatCurrency(Model.Gia.Value)</del> <span style="background-color:#f8d9d6;color:red;font-size:15px;mar-bottom:1px" class="badge">-@ViewBag.phantramkm %</span></h3></p>
            }
        </div>
            <div>
                <a>@Html.DisplayFor(model=>model.LoaiDungCu.TenLoaiDungCu)</a>
            </div>
            <br/>
        <div>
            <a>@Html.DisplayFor(model=>model.NhaSanXuat.TenNSX)</a>
        </div>
        <div contenteditable="false" style="white-space: pre-line;min-height: 100px;">
            @Html.Raw(Model.ThongTin)
        </div>
        <hr style="border-color: #5d5d5d; border-style: solid; border-width: 1px;">
        <div>
            <div class="d-flex">
                <div class="col-md-8 input-group form-outline quantity">
                    <button type="button" class="btn btn-link btn-sm" id="decreaseQuantity">
                        <b>-</b>
                    </button>
                    <input type="number" name="quantity" id="quantity" min="1" max="5" class="form-control" value="1">
                    <button type="button" class="btn btn-link btn-sm" id="increaseQuantity">
                        <b>+</b>
                    </button>             
                </div>
                <div class="col-8">
                    @if(Model.SoLuong==0)
                        {
                            <button style="height:-webkit-fill-available;border-radius:20px;width:100%" class="btn btn-dark" id="addToCartButton" disabled><b>Đã bán hết</b></button>
                        }
                        else
                        {
                            <button style="height:-webkit-fill-available;border-radius:20px;width:100%" class="btn btn-dark" id="addToCartButton" onclick="addToCart()"><b>Thêm vào giỏ</b></button>
                        }
                </div>            
            </div>           
            <hr style="border-color: #5d5d5d; border-style: solid; border-width: 1px;">
            <div class="d-flex">
                    <div>
                        <!-- Facebook Share Button -->
                        <a style="border-radius:20px;" class="btn" href="#" target="_blank">
                            <img src="~/logo/facebook.png" width="32px" alt="Share on Facebook" />
                        </a>

                        <!-- Messenger Share Button -->
                        <a style="border-radius:20px;" class="btn" href="#" target="_blank">
                            <img src="~/logo/messenger.png" width="32px" alt="Share on Messenger" />
                        </a>

                        <!-- Zalo Share Button -->
                        <a style="border-radius:20px;" class="btn" href="#" target="_blank">
                            <img src="~/logo/zalo.png" width="32px" alt="Share on Zalo" />
                        </a>

                        <!-- Twitter Share Button -->
                        <a style="border-radius:20px;" class="btn" href="#" target="_blank">
                            <img src="~/logo/twitter.png" width="32px" alt="Share on Twitter" />
                        </a>
                    </div>

                <div>
                    @if (ViewBag.email != null)
                    {
                        @if (!ViewBag.isFavorite)
                        {

                            <a style="border-radius:20px;margin-left:5px;" class="btn btn-dark" id="addToCartButton" onclick="addToFavorite()">
                                <img src="~/logo/favorite.svg"  alt=""/>
                                <b>Yêu thích</b>
                            </a>

                        }
                        else
                        {

                                <a style="border-radius:20px;margin-left:10px;" class="btn btn-dark" id="addToCartButton" onclick="deleteFavorite(@Model.Id_DungCu)">
                                <img src="~/logo/favorite_fill.svg"  alt=""/>
                                <b>Bỏ yêu thích</b>
                            </a>

                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="background-color:white;padding:20px;border-radius:20px;margin-top:20px">
    <div style="text-align:center">
        <h4 class="align-center">Chi tiết sản phẩm</h4>
    </div>
    <div contenteditable="false" style="white-space: pre-line">
        <div class="ratio" style="width:100%">
            @Html.Raw(Model.MoTa)
        </div>
    </div>
        <div>
            
            <p>Mã sản phẩm: @Html.DisplayFor(model => model.Id_DungCu)</p>
            <p>Kho: @Html.DisplayFor(model => model.SoLuong)</p>
            <p>Nhà cung cấp: @Html.DisplayFor(model => model.NhaCungCap.TenNhaCungCap)</p>
            <ul>
                <li>Địa chỉ: @Html.DisplayFor(model => model.NhaCungCap.DiaChi)</li>
                <li>Hotline: @Html.DisplayFor(model => model.NhaCungCap.SoDienThoai)</li>
                <li>Email: @Html.DisplayFor(model => model.NhaCungCap.Email)</li>
            </ul>
            <p>Thương hiệu: @Html.DisplayFor(model => model.NhaSanXuat.TenNSX)</p>
            <ul>
                <li>Địa chỉ: @Html.DisplayFor(model => model.NhaSanXuat.DiaChi)</li>
                <li>Email: @Html.DisplayFor(model => model.NhaSanXuat.Email)</li>
            </ul>
        </div>
</div>
<div style="border-radius:20px;" class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="addToCartOk" class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="width:400px;">
        <div>
            <div class="toast-header">
                <img src="~/logo/icon.png" class="rounded me-2" width="30px;" alt="">
                <strong class="me-auto">Whisk & Flourisk</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <a id="toastMessage">Thêm sản phẩm thành công!</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#increaseQuantity").click(function () {
            var quantity = parseInt($("#quantity").val());
            $("#quantity").val(quantity + 1);
        });

        $("#decreaseQuantity").click(function () {
            var quantity = parseInt($("#quantity").val());
            if (quantity > 1) {
                $("#quantity").val(quantity - 1);
            }
        });
    });
        function addToFavorite() {
            $.ajax({
                url: "@Url.Action("AddToFavorite", "Account")",
                method: "POST",
                data: { id: @Model.Id_DungCu },
                success: function (response) {
                    if (response.success) {
                        sessionStorage.setItem('showToast', response.message); // Message từ server
                        location.reload(); // Tải lại trang
                    } else {
                        showToast(response.message); // Hiển thị message từ server
                    }
                },
                error: function (xhr, status, error) {
                    // Xử lý lỗi kết nối hoặc server
                    showToast("Đã xảy ra lỗi khi thêm vào yêu thích. Vui lòng thử lại.");
                }
            });
        }
        function deleteFavorite(id) {
            $.ajax({
                url: "/Account/DeleteFavorite/" + id, // Sử dụng đường dẫn URL tuyệt đối với tham số id
                method: "POST",
                success: function (response) {
                    if (response.success) {
                        sessionStorage.setItem('showToast', response.message); // Lưu thông báo từ server vào sessionStorage
                        location.reload(); // Tải lại trang
                    } else {
                        showToast(response.message); // Hiển thị thông báo lỗi từ server
                    }
                },
                error: function (xhr, status, error) {
                    showToast("Đã xảy ra lỗi khi kết nối tới máy chủ: " + error); // Hiển thị thông báo lỗi kết nối
                }
            });
        }
        function showToast(message) {
            alert(message); // Bạn có thể thay thế bằng cách hiển thị thông báo tùy chỉnh
        }
        function addToCart() {
            var quantity = $("#quantity").val(); // Lấy giá trị từ ô nhập liệu
            var productID = @Model.Id_DungCu; // Lấy giá trị từ Model.MAPM
            var currentInventory = parseInt("@ViewBag.TonKho"); // Lấy giá trị tồn kho và chuyển về kiểu số nguyên

            // Kiểm tra nếu số lượng thêm lớn hơn tồn kho
            if (parseInt(quantity) > currentInventory) {
                showToast("Rất tiếc, số sản phẩm trong kho không đáp ứng đủ cho số lượng cần của bạn.");
                return;
            }
            else if (parseInt(quantity) < 0) {
                showToast("Số lượng không hợp lệ.");
                return;
            }
            $.get("@Url.Action("CheckLogin", "Account")", function (data) {
                if (data.signedIn) {
                    // Nếu người dùng đã đăng nhập, thêm sản phẩm vào giỏ hàng
                    //Dùng ajax thêm vào giỏ hàng
                    $.ajax({
                        url: "@Url.Action("AddToCart", "Cart")",
                        method: "POST",
                        data: { productID: productID, quantity: quantity },
                        success: function (response) {
                            updateCartBadge();
                            miniCart('@ViewBag.uid');
                            sessionStorage.setItem('showToast', 'Thêm sản phẩm thành công!');
                            location.reload();

                        },
                        error: function (xhr, status, error) {
                            showToast("Đã xảy ra lỗi khi thêm vào giỏ hàng.");
                        }
                    });

                } else {
                    // Nếu người dùng chưa đăng nhập, thực hiện đăng nhập ẩn danh
                    $.get("@Url.Action("SignInAnonymously", "Account")", function (data) {
                        if (data.success == true) {
                            // Nếu đăng nhập thành công, thêm sản phẩm vào giỏ hàng
                            $.ajax({
                                url: "@Url.Action("AddToCart", "Cart")",
                                method: "POST",
                                data: { productID: productID, quantity: quantity },
                                success: function (response) {
                                    updateCartBadge();
                                    miniCart('@ViewBag.uid');
                                    sessionStorage.setItem('showToast', 'Thêm sản phẩm thành công!');
                                    location.reload();

                                },
                                error: function (xhr, status, error) {
                                    showToast("Đã xảy ra lỗi khi thêm vào giỏ hàng.");
                                }
                            });
                        } else {
                            // Nếu đăng nhập không thành công, hiển thị thông báo lỗi
                            $.ajax({
                                url: "@Url.Action("AddToCart", "Cart")",
                                method: "POST",
                                data: { productID: productID, quantity: quantity },
                                success: function (response) {
                                    updateCartBadge
                                    miniCart('@ViewBag.uid');
                                    sessionStorage.setItem('showToast', 'Thêm sản phẩm thành công!');
                                    location.reload();



                                },
                                error: function (xhr, status, error) {
                                    showToast("Đã xảy ra lỗi khi thêm vào giỏ hàng.");
                                }
                            });
                        }
                    });
                }
            });
        };
        document.addEventListener("DOMContentLoaded", function () {
            // Kiểm tra sessionStorage
            var toastMessage = sessionStorage.getItem('showToast');
            if (toastMessage) {
                // Hiển thị thông báo
                showToast(toastMessage);
                // Xóa thông báo sau khi hiển thị
                sessionStorage.removeItem('showToast');
            }
        });

        function showToast(message) {
            const toastLiveExample = document.getElementById('addToCartOk');
            if (toastLiveExample) {
                const toastMessage = document.getElementById('toastMessage');
                toastMessage.innerText = message; // Thay đổi nội dung của thẻ <a> thành dòng thông báo được truyền vào
                const toastBootstrap = new bootstrap.Toast(toastLiveExample);
                toastBootstrap.show();
            }
        };

</script>
</div>
