@{
    var khuyenMai = ViewData["KhuyenMai"] as WebDungCuLamBanh.Models.KhuyenMaiModel;
    var ChiTietKhuyenMai = ViewData["ChiTietKhuyenMai"] as List<WebDungCuLamBanh.Models.ChiTietKhuyenMaiModel>;
}
@{
    ViewData["Title"] = "AddProductToSaleOff";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="row">
    @if(khuyenMai!=null)
    {
                <div>
            <h2>Khuyến mãi @khuyenMai.Id_KhuyenMai</h2>
            <p><strong>Tên khuyến mại:</strong> @khuyenMai.TenKhuyenMai</p>
            <p><strong>Ngày bắt đầu:</strong> @khuyenMai.NgayBatDau</p>
            <p><strong>Ngày kết thúc:</strong> @khuyenMai.NgayKetThuc</p>
            <p><strong>Trạng thái:</strong> @khuyenMai.TrangThai</p>
        </div>
    }
    else
    {
        <p>Khuyến mại không tồn tại.</p>
    }
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProductModal">
        Thêm sản phẩm
    </button>
    <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addProductModalLabel">Thêm sản phẩm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="FormAddProduct">
                    <input name="Id_KhuyenMai" value="@khuyenMai.Id_KhuyenMai" type="hidden" />

                    <div class="form-group">
                        <label  class="control-label">Sản phẩm áp dụng</label>
                        <select name="Id_SanPham" class="form-control" asp-items="ViewBag.SanPham"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Giá trị giảm</label>
                        <input name="GiaTriGiam" type="number" class="form-control" />
                    </div>
                        <button type="button" class="btn btn-primary" onclick="addProductToSaleOff()">Submit</button>
                </form>
               
            </div>
        </div>
    </div>
        
</div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Giá trị giảm</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ChiTietKhuyenMai)
            {
                <tr>
                    <td>@item.SanPham.TenDungCu</td>
                    <td>@item.GiaTriGiam</td>
                    <td>
                        <form method="post" asp-action="DeleteProductSaleOff">
                    <input type="hidden" name="Id_KhuyenMai" value="@khuyenMai.Id_KhuyenMai" />
                    <input type="hidden" name="Id_CTKM" value="@item.Id_CTKM" />
                    <input style="border-radius:20px;border:none;" type="submit" value="x" />
                    </form>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="SaleOff">Trở lại danh sách sản phẩm</a>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function addProductToSaleOff() {
        var formData = new FormData(document.getElementById('FormAddProduct'));
        $.ajax({
            url: '@Url.Action("AddProductToSaleOff", "Administrator")',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result.success == true) {
                    location.reload();
                }
                else if (result.success == false) {
                    alert(result.message);
                }
            }
        });
    }
</script>


