@{
    var top10 = ViewData["ProductInfo"] as IEnumerable<dynamic>;
}
@{
    ViewData["Title"] = "Tổng quan";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/js/sb-admin-2.min.js"></script>
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="~/js/sb-admin-2.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Page level plugins -->
<script src="~/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="~/js/demo/chart-area-demo.js"></script>
<script src="~/js/demo/chart-pie-demo.js"></script>
<script src="~/js/Earning.js"></script>
<div class="row">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Tổng quan</h1>
        @* <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
        </a> *@
    </div>
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Doanh thu tháng này
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.doanhThuThangNay</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Doanh thu hôm nay
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.doanhThuHomNay</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Đơn hàng chờ xử lý
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@ViewBag.donHangChoXuLy đơn hàng</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    @* <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Pending Requests
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div> *@
    <div class="col-xl-12 col-md-12 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Tổng quan doanh thu</h6>
            </div>
            <div class="card-body">
                <div class="chart-bar">
                    <canvas id="myBarChart" width="400" height="200"></canvas>
                </div>
                <hr>

            </div>
        </div>
    </div>
        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Doanh thu hôm nay</h6>
                    
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <table width="100%" class="table">
                        <tbody>
                            <tr>
                                <td>Doanh thu</td>
                                <td style="text-align:right">@ViewBag.doanhThuHomNay</td>
                            </tr>
                            <tr>
                                <td>Doanh thu sau thuế (đã trừ chi phí)</td>
                                <td style="text-align:right">@ViewBag.doanhThuSauThuevaChiPhiHomNay</td>
                            </tr>
                            <tr>
                                <td>Tiền vận chuyển</td>
                                <td style="text-align:right">@ViewBag.tienShipHomNay</td>
                            </tr>
                            <tr>
                                <td>VAT</td>
                                <td style="text-align:right">@ViewBag.vatHomNay</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <div class="col-xl-6 col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Doanh thu tháng @ViewBag.thangNay</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <table width="100%" class="table">
                    <tbody>
                    <tr>
                        <td>Doanh thu</td>
                        <td style="text-align:right">@ViewBag.doanhThuThangNay</td>
                    </tr>
                    <tr>
                        <td>Doanh thu sau thuế (đã trừ chi phí)</td>
                        <td style="text-align:right">@ViewBag.doanhThuSauThuevaChiPhiThangNay</td>
                    </tr>
                    <tr>
                        <td>Tiền vận chuyển</td>
                        <td style="text-align:right">@ViewBag.tienShipThangNay</td>
                    </tr>
                    <tr>
                        <td>VAT</td>
                        <td style="text-align:right">@ViewBag.vatThangNay</td>
                    </tr>
                    <tr>
                        <td>Tiền nhập hàng</td>
                        <td style="text-align:right">@ViewBag.tienNhapHangThangNay</td>
                    </tr>
                    <tr>
                        <td>Lợi nhuận</td>
                        <td style="text-align:right">@ViewBag.loiNhuanThangNay</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-xl-12 col-md-12 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Lọc doanh thu</h6>

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <form class="row g-3" method="get" asp-action="Dashboard" asp-controller="Administrator">
                    <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label">Từ ngày</label>
                    </div>
                    <div class="col-auto d-flex">

                        <input value="@ViewBag.fromDate" type="date" class="form-control" name="fromDate" placeholder="Password">
                    </div>
                    <div class="col-auto">
                        <label for="inputPassword6" class="col-form-label">Đến ngày</label>
                    </div>
                    <div class="col-auto d-flex">

                        <input value="@ViewBag.toDate" type="date" class="form-control" name="toDate" placeholder="Password">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3">Lọc</button>
                    </div>
                </form>
                @if (ViewBag.doanhThuLoc != null)
                {
                    <table class="table">
                        <tr>
                            <td>Từ ngày @ViewBag.fromDate đến ngày @ViewBag.toDate.</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Doanh thu toàn ngành</td>
                            <td style="text-align:right">@ViewBag.doanhThuLoc₫</td>
                        </tr>
                        <tr>
                            <td>Doanh thu sau thuế (đã trừ chi phí)</td>
                            <td style="text-align:right">@ViewBag.doanhThuSauThueVaChiPhiLoc₫</td>
                        </tr>
                        <tr>
                            <td>Tiền nhập hàng</td>
                            <td style="text-align:right">@ViewBag.tienNhapHangLoc₫</td>
                        </tr>
                        <tr>
                            <td>Tiền lời</td>
                            <td style="text-align:right">@ViewBag.tienLoiLoc₫</td>
                        </tr>
                        <tr>
                            <td>VAT</td>
                            <td style="text-align:right">@ViewBag.vatLoc₫</td>
                        </tr>
                    </table>
                }
            </div>
        </div>
    </div>
    <div class="col-xl-12 col-md-12 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Top 10 sản phẩm bán chạy nhất trong tháng @ViewBag.thangNay</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                @if (top10 != null)
                {

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Tên sản phẩm</th>
                                <th>Bán được</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in top10)
                            {
                                <tr>
                                    <td><a href="/Product/Detail/@item.Id_DungCu">@item.TenSanPham</a></td>
                                    <td style="text-align:right">@item.SoLuongBanDuoc</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
