@model OrderDetailViewModel;
@{
    ViewData["Title"] = "Thông tin đơn hàng";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="col-md-12">
    <h4>Thông tin đơn hàng</h4>

    @if (Model.donHangVanChuyenModel.TinhTrang == 0)
    {
        <div class="alert alert-warning d-flex" role="alert" style="border-radius:20px;">
            <div class="col-md-10">
                <h6>Đang chuẩn bị hàng</h6>
                <p>
                    Ngày nhận hàng dự kiến từ <b>
                        @Model.donHangModel.NgayDat?.ToString("dd.MM.yyyy HH:mm")
                    </b> đến <b>
                        @Model.donHangModel.NgayGiao?.ToString("dd.MM.yyyy HH:mm")
                    </b>.
                </p>
            </div>
            <div class="col-md-2 d-flex justify-content-center align-items-center">
                <span class="material-symbols-outlined" style="font-size:100px;">
                    package_2
                </span>
            </div>
        </div>
    }
    else if (Model.donHangVanChuyenModel.TinhTrang == 1)
    {
        <div class="alert alert-info d-flex" role="alert" style="border-radius:20px;">
            <div class="col-md-10">
                <h6>Đang giao hàng</h6>
                <p>
                    Đơn hàng của bạn đang giao.
                    Ngày nhận hàng dự kiến từ <b>
                        @Model.donHangModel.NgayDat?.ToString("dd.MM.yyyy HH:mm")
                    </b> đến <b>
                        @Model.donHangModel.NgayGiao?.ToString("dd.MM.yyyy HH:mm")
                    </b>.
                </p>
            </div>
            <div class="col-md-2 d-flex justify-content-center align-items-center">
                <span class="material-symbols-outlined" style="font-size:100px;">
                    local_shipping
                </span>
            </div>
        </div>
    }
    else if (Model.donHangVanChuyenModel.TinhTrang == 2)
    {
        <div class="alert alert-success d-flex" role="alert" style="border-radius:20px;">
            <div class="col-md-10">
                <h6>Đã giao hàng</h6>
                <p>
                    Đơn hàng của bạn đã được giao thành công vào <b>
                        @Model.donHangModel.NgayGiao?.ToString("dd.MM.yyyy HH:mm")
                    </b>.
                </p>
            </div>
            <div class="col-md-2 d-flex justify-content-center align-items-center">
                <span class="material-symbols-outlined" style="font-size:100px;">
                    check_circle
                </span>
            </div>
        </div>
    }
    else if (Model.donHangVanChuyenModel.TinhTrang == 3)
    {
        <div class="alert alert-danger d-flex" role="alert" style="border-radius:20px;">
            <div class="col-md-10">
                <h6>Đã hủy đơn hàng</h6>
                <p>
                    <b>Đơn hàng của bạn đã bị hủy.</b>
                </p>
            </div>
            <div class="col-md-2 d-flex justify-content-center align-items-center">
                <span class="material-symbols-outlined" style="font-size:100px;">
                    cancel
                </span>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-danger d-flex" role="alert" style="border-radius:20px;">
            <div class="col-md-10">
                <h6>Đã xảy ra lỗi</h6>
                <p>
                    Không thể xác định trạng thái đơn hàng. Vui lòng liên hệ với bộ phận hỗ trợ khách hàng.
                </p>
            </div>
            <div class="col-md-2 d-flex justify-content-center align-items-center">
                <span class="material-symbols-outlined" style="font-size:100px;">
                    error
                </span>
            </div>
        </div>
    }
    
    <div class="alert alert-light" role="alert" style="border-radius:20px;">

        <h5>
            <span class="material-symbols-outlined">
                location_on
            </span> Địa chỉ nhận hàng
        </h5>
        <p>@Model.donHangVanChuyenModel.TenKhachHang</p>
        <p>@Model.donHangVanChuyenModel.SoDienThoai</p>
        <p>@Model.donHangVanChuyenModel.Email</p>
        <p>@Model.donHangVanChuyenModel.DiaChiVanChuyen</p>
    </div>
    <div class="alert alert-light" role="alert" style="border-radius:20px;">
        <h5>
            <span class="material-symbols-outlined">
                payments
            </span> Phương thức thanh toán
        </h5>
        <p>@Model.donHangVanChuyenModel.PhuongThucThanhToan.TenPTTT</p>
    </div>
    <br />
    <div class="alert alert-light" role="alert" style="border-radius:20px;">
        <h5>
            <span class="material-symbols-outlined">
                receipt_long
            </span> Đơn hàng
        </h5>
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td>Mã đơn hàng</td>
                    <td align="right">@Model.donHangModel.Id_DonHang</td>
                </tr>
                <tr>
                    <td>Thời gian đặt hàng</td>
                    <td align="right">@Model.donHangModel.NgayDat?.ToString("HH:mm dd.MM.yyyy")</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-sm-12 table-cart">
        <h5>
            <span class="material-symbols-outlined">
                package_2
            </span> Chi tiết đơn hàng
        </h5>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" style="width: 55%;text-align: left;border-bottom: none;">Sản phẩm</th>
                    <th scope="col" style="width: 15%;text-align: center;border-bottom: none;">Giá</th>
                    <th scope="col" style="width: 15%;text-align: center;border-bottom: none;">Số lượng</th>
                    <th scope="col" style="width: 25%;text-align: center;border-bottom: none;">Tổng giá</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.chiTietDonHangModel)
                {
                    <tr>
                        <th class="row">
                            <div class="col-4">
                                <img src="@Html.DisplayFor(modelItem => item.DungCu.HinhAnh)" class="card-img-top" alt="" width="200px">
                            </div>
                            <div class="col-8">
                                <p><a style="font-size:20px;text-decoration:none;color:black" href="/Product/Detail/@item.DungCu.Id_DungCu">@item.DungCu.TenDungCu</a></p>
                                <a style="color:gray;font-size:11px">Dụng cụ</a>
                            </div>
                        </th>
                        <td style="text-align: center; vertical-align: middle;"><b>@Html.DisplayFor(modelItem => item.DungCu.Gia) ₫</b></td>
                        <td style="text-align: center; vertical-align: middle;"><b>@Html.DisplayFor(modelItem => item.SoLuong)</b></td>
                        <td style="text-align: center; vertical-align: middle;"><b style="color:orange" id="donGia">@Html.DisplayFor(modelItem => item.DonGia) ₫</b></td>

                    </tr>
                }

            </tbody>
        </table>
        <div class="cart-total">
            <br />
            <table style="width:100%">
                <tr>
                    <td>Tiền hàng</td>
                    <td style="text-align: right;"><a id="tamTinh">@ViewBag.tamtinh ₫</a></td>
                </tr>
                <tr>
                    <td>Phí vận chuyển</td>
                    <td style="text-align: right;">@ViewBag.phivanchuyen ₫</td>
                </tr>
                <tr>
                    <td>Giảm giá</td>
                    <td style="text-align: right;">-@ViewBag.magiamgia ₫</td>
                </tr>
                <tr>
                    <td>VAT (8%)</td>
                    <td style="text-align: right;">@ViewBag.vat ₫</td>
                </tr>
                <tr>
                    <td><h5>Thành tiền</h5></td>
                    <td style="text-align: right;"><b id="tongTien">@Model.donHangModel.TongTien ₫</b></td>
                </tr>
            </table>
        </div>
    </div>
</div>