@model IEnumerable<WebDungCuLamBanh.Models.NhaSanXuatModel>

@{
    ViewData["Title"] = "Nhà sản xuất";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Nhà sản xuất</h1>

<p>
    <div class="mr-3">
        <a class="btn btn-primary" asp-action="Create" asp-controller="Manufactor" role="button">Thêm 1 nhà sản xuất mới</a>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Tên
            </th>
            <th width="40%">
               Địa chỉ
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNSX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_NhaSanXuat">
                    <span class="material-symbols-outlined">
                        edit
                    </span>
                </a>
                <a asp-action="Delete" asp-route-id="@item.Id_NhaSanXuat">
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
