@model IEnumerable<WebDungCuLamBanh.Models.YeuThichModel>
@using WebDungCuLamBanh.Helpers;
@{
    ViewData["Title"] = "Yêu thích";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        gap: 7px;
    }
    .breadcrumb-item a {
        color: gray;
        text-decoration: none;
    }

    .list-group-item {
        background-color: #fbf1f1; /* Adjust as needed */
        border-radius: 20px;
        border: none;
    }

        .list-group-item:hover {
            background-color: #f8d9d6; /* Adjust as needed */
            border-radius: 20px;
        }

        .list-group-item a {
            text-decoration: none;
            color: #49130e;
        }

    form input {
        border-radius: 20px !important; /* Adjust the value as needed */
    }

    .card-pd {
        flex: 0 0 auto;
        width: 110px;
        background-color: #fbf1f1;
        border-radius: 20px;
    }

    @@media screen and (min-width: 768px) {
        .card {
            width: 220px;
        }
    }

    .card-title {
        font-size: 13px;
        text-decoration: none;
    }

    @@media screen and (min-width: 768px) {
        .card-title {
            font-size: 20px;
            text-decoration: none;
        }
    }

    .card:hover {
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
</style>
<div class="p-3 p-sm-4 p-lg-5" style="padding-top:0!important;">
    <div class="row">
        <nav style="--bs-breadcrumb-divider: '>'; padding-top:20px" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/Index">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="/Account/Edit/@ViewBag.uid">Tài khoản</a></li>
                <li class="breadcrumb-item " aria-current="page">Thông tin</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group" style="border-radius:20px">
                <li class="list-group-item"><a href="/Account/Edit/">Tài khoản</a></li>
                <li class="list-group-item"><a href="/Account/History">Lịch sử đơn hàng</a></li>
                <li class="list-group-item"><a href="/Account/ChangePassword">Mật khẩu và bảo mật</a></li>
                <li style="background-color: #f8d9d6;" class="list-group-item current"><a asp-action="FavoriteProduct" asp-controller="Account"><b>Sản phẩm yêu thích</b></a></li>
                <li class="list-group-item"><a asp-action="Notification" asp-controller="Account">Thông báo</a></li>
            </ul>
        </div>
        <div class="col-md-8 " style="">
            <h5>Sản phẩm yêu thích</h5>
            <div style="margin-bottom:20px;">
                <a>Hiển thị các sản phẩm bạn đã yêu thích.</a>
            </div>
            
            
            @if (Model == null)
            {
                <p>Hiện chưa có sản phẩm yêu thích.</p>
            }
            else
            {
                <div class="card-container" >
                 
                @foreach (var item in Model)
                {
                        <div class="card card-pd" onclick="navigateToLink('/Product/Detail/@Html.DisplayFor(modelItem => item.SanPham.Id_DungCu)')">
                        <img src="@item.SanPham.HinhAnh" class="card-img-top" style="border-top-left-radius: 20px; border-top-right-radius: 20px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
                        <div class="card-body">
                            <a class="card-title"><b>@item.SanPham.TenDungCu</b></a>
                        </div>
                        @if (item.SanPham.GiaKhuyenMai == 0 || item.SanPham.GiaKhuyenMai == null)
                        {
                            <div class="card-body">
                                <a class="card-text league-spartan" style="color:red;text-decoration:none"><b>@Html.FormatCurrency(item.SanPham.Gia.Value)</b></a>
                            </div>
                        }
                        else
                        {
                            int giakm = 100 - (int)(item.SanPham.GiaKhuyenMai / item.SanPham.Gia * 100);
                            <div class="card-body">
                                <a class="card-text league-spartan" style="color:red;text-decoration:none"><b>@Html.FormatCurrency(item.SanPham.GiaKhuyenMai.Value)</b></a>
                                <a class="card-text league-spartan" style="color:gray;text-decoration:none"><del>@Html.FormatCurrency(item.SanPham.Gia.Value)</del></a>
                                <span style="background-color:#f8d9d6;color:red;font-size:15px;mar-bottom:1px" class="badge">-@giakm%</span>
                            </div>
                        }
                    </div>
                }
                </div>
            }
        </div>
   </div>
</div>
<script>
    function navigateToLink(link) {
        window.location.href = link;
    }
</script>
