﻿@{
    ViewData["Title"] = "Thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using WebDungCuLamBanh.Helpers;
@model IEnumerable<WebDungCuLamBanh.Models.ChiTietDonHangModel>
@{
    int dem = 0;
}
@{
    int stt = 1;
}
<link href="~/css/toast_style.css" rel="stylesheet" />
<style>
    .cart {
        padding: 0px;
    }

    .table-cart {
        padding: 20px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    .payment {
        padding: 15px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    .col-sm-8 {
        padding: 30px;
    }

    .col-sm-4 {
        padding: 30px;
    }

    .cart-total {
        padding: 15px;
        border-radius: 20px;
        background-color: #ffd28d;
    }

    .banner-suppot {
        padding: 30px;
        background-color: white;
        border-radius: 20px;
        margin-right: 15px; /* Khoảng cách ngang giữa các cột */
        margin-left: 15px;
    }

    .padding-banner {
        padding: 15px;
        margin-right: 15px; /* Khoảng cách ngang giữa các cột */
        margin-left: 15px;
    }
</style>
<div class="p-3 p-sm-4 p-lg-5">
    <div class="row">
        <div class="progress-stacked">
            <div class="progress" role="progressbar" aria-label="Segment one" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                <div class="progress-bar">Chọn sản phẩm</div>
            </div>
            <div class="progress" role="progressbar" aria-label="Segment two" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                <div class="progress-bar">Thông tin liên hệ</div>
            </div>
            <div class="progress" role="progressbar" aria-label="Segment three" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                <div class="progress-bar bg-info">Thanh toán</div>
            </div>
            <div class="progress" role="progressbar" aria-label="Segment three" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                <div class="progress-bar bg-info">Thành công</div>
            </div>
        </div>
    </div>
    <div class="row cart" style="padding-top:20px;">
        <div class="col-sm-5">
            <h3>Thanh toán</h3>
            @if (Model == null)
            {
                <p>Giỏ hàng trống</p>
            }
            else
            {
                <p>Có <b>@ViewBag.dem sản phẩm</b> trong giỏ hàng của bạn.</p>
                <div class="col-sm-12 table-cart">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 55%;text-align: left;border-bottom: none;font-size:11px">Sản phẩm</th>
                                <th scope="col" style="width: 15%;text-align: center;border-bottom: none;font-size:11px">SL</th>
                                <th scope="col" style="width: 25%;text-align: center;border-bottom: none;font-size:11px">Tổng giá</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th class="row">
                                        <div class="col-4">
                                            <img src="@Html.DisplayFor(modelItem => item.DungCu.HinhAnh)" class="card-img-top" alt="" width="200px">
                                        </div>
                                        <div class="col-8">
                                            <p ><a style="text-decoration:none,color:black" href="/Product/Detail/@item.DungCu.Id_DungCu">@item.DungCu.TenDungCu</a></p>
                                            <a style="color:gray;font-size:11px">@item.DungCu.LoaiDungCu.TenLoaiDungCu</a>
                                        </div>
                                    </th>
                                    <td style="text-align: center; vertical-align: middle;"><b>@Html.DisplayFor(modelItem => item.SoLuong)</b></td>
                                    <td style="text-align: center; vertical-align: middle;"><b style="color:orange" id="donGia">@Html.FormatCurrency(item.DonGia.Value)</b></td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            }

        </div>
        <div class="col-sm-7">

            <div class="payment">
                <h5>Thông tin liên hệ</h5>
                <form id="TTVCForm">
                    <div class="form-floating mb-3">
                        <input id="floatingInput" style="border-radius:20px" type="text" class="form-control" placeholder="Họ và tên" value="@ViewBag.Ten" name="ten" required>
                        <label for="floatingInput">Tên của bạn</label>
                    </div>
                    
                    <br />
                    <div class="form-floating mb-3">
                        <input id="floatingInput" style="border-radius:20px" type="number" class="form-control" placeholder="Số điện thoại" value="@ViewBag.SDT" name="sdt" required>
                        <label for="floatingInput">Số điện thoại</label>
                    </div>
                    <br />
                    <div class="form-floating mb-3">
                        <input id="floatingInput" style="border-radius:20px" type="email" class="form-control" placeholder="Email" value="@ViewBag.Email" name="email" required>
                        <label for="floatingInput">Email</label>
                    </div>
                    
                    <br>
                    <h5>Địa chỉ giao hàng</h5>
                    <div class="d-flex mb-3">
                        <select onchange="" class="form-select form-select-sm me-3 transparent-input" style="width:35%;height:40px;border-radius:20px" id="city" aria-label=".form-select-sm">
                            <option value="updateAddress()" selected>Tỉnh</option>
                            <!-- Các tùy chọn thành phố ở đây -->
                        </select>

                        <select onchange="CaculateShip()" class="form-select form-select-sm me-3 transparent-input" style="width:35%; border-radius:20px" id="district" aria-label=".form-select-sm">
                            <option value="Quận" selected>Quận</option>
                            <!-- Các tùy chọn quận ở đây -->
                        </select>

                        <select onchange="updateAddress()" class="form-select form-select-sm me-3 transparent-input" style="width:35%; border-radius:20px" id="ward" aria-label=".form-select-sm">
                            <option value="Xã" selected>Xã</option>
                            <!-- Các tùy chọn xã ở đây -->
                        </select>
                        <!-- Thẻ <a> để hiển thị văn bản được chọn -->
                    </div>
                    <div class="form-floating mb-3">
                        <input oninput="updateAddress()" style="border-radius:20px" type="text" class="form-control" id="street" placeholder="Số nhà, đường, khu phố" value="@ViewBag.DiaChi" required>
                        <label for="street">Số nhà, đường, khu phố</label>
                    </div>
                    
                    <br /><a>Xác nhận địa chỉ của bạn:</a><br />
                    <a style="text-decoration:none" id="selectedText" href="#"></a>
                    <input type="hidden" id="address" name="diachi" />
                    <input type="hidden" name="phivanchuyen" />
                    <input type="hidden" name="diemthuong" id="dt" />
                    <h5>Phương thức thanh toán</h5>
                    <select asp-items=ViewBag.PTTT name="pttt" class="form-select form-select-sm me-3 transparent-input" style="width:100%; height:40px; border-radius:20px" aria-label=".form-select-sm">
                    </select>

                    @*                 <br>
                    <h5>Phương thức vận chuyển</h5>
                    <select asp-items=ViewBag.DonViVanChuyen name="dvvc" class="form-select form-select-sm me-3 transparent-input" style="width:100%; height:40px; border-radius:20px" aria-label=".form-select-sm">
                    </select>
                    <br /> *@
                    <br />
                </form>
                <h5>Mã giảm giá</h5>
                <form id="voucherForm">
                    <p style="color:gray">Nhập mã giảm giá vào đây. Mã giảm giá chỉ được áp dụng khi thanh toán thành công.</p>
                    <input style="border-radius:20px" type="text" class="form-control" placeholder="Mã giảm giá" name="voucher" aria-describedby="button-addon2">
                    <br>
                    <button style="width:100%;border-radius:20px;" class="btn btn-dark" type="button" onclick="submitVoucher()">Áp dụng</button>
                </form>
                @if (ViewBag.email != null)
                {
                    <h5>Điểm thưởng</h5>
                    <div class="d-flex">
                        <a style="color:gray;margin-right:5px">Bạn có <b>@ViewBag.DiemThuong</b> điểm thưởng. Mỗi điểm thưởng tương ứng với 1 ₫ giảm giá.</a>
                        <div class="form-check">

                            <input class="form-check-input" type="checkbox" value="" id="checkDiemThuong">
                            <label class="form-check-label" for="flexCheckDefault">
                                Sử dụng
                            </label>

                        </div>
                    </div>


                }

                <script>
                    var diemthuongValue = '@ViewBag.DiemThuong';

                    document.getElementById('checkDiemThuong').addEventListener('change', function () {
                        var hiddenInput = document.getElementById('dt');
                        if (this.checked) {
                            hiddenInput.value = diemthuongValue;
                        } else {
                            hiddenInput.value = 0;
                        }
                    });
                    function submitVoucher() {
                        var formData = new FormData(document.getElementById('voucherForm'));
                        //Xuat ra ma giam gia
                        $.ajax({
                            url: '@Url.Action("AddVoucher", "Cart")',
                            type: 'POST',
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function (result) {
                                if (result.success) {
                                    var tamTinh = parseInt(result.tamTinh);
                                    var giaTriGiam = parseInt(result.giaTriGiam);
                                   
                                    var vat = parseInt(result.vat);
                                    
                                    //
                                    var phiVanChuyenText = $('#phiVanChuyen').text();
                                    var cleanedPhiVanChuyen = phiVanChuyenText.replace(/[^0-9]/g, '');
                                    var phiVanChuyen = parseInt(cleanedPhiVanChuyen, 10);

                                    // Tính tổng tiền mới
                                    var tongTien = tamTinh + vat - giaTriGiam +phiVanChuyen;

                                    // Cập nhật mã giảm giá
                                    $('#giaTriGiam').text('-' + giaTriGiam.toLocaleString('vi-VN') + ' ₫');
                                    // Cập nhật tổng tiền trên trang
                                    
                                    $('#tongTien').text(tongTien.toLocaleString('vi-VN') + ' ₫');
                                    showToast('Áp dụng mã giảm giá thành công.')
                                } else {
                                    showToast(result.error);
                                }

                            }
                        });
                    }
                    function showToast(message) {
                        const toastLiveExample = document.getElementById('addToCartOk');
                        if (toastLiveExample) {
                            const toastMessage = document.getElementById('toastMessage');
                            toastMessage.innerText = message; // Thay đổi nội dung của thẻ <a> thành dòng thông báo được truyền vào
                            const toastBootstrap = new bootstrap.Toast(toastLiveExample);
                            toastBootstrap.show();
                        }
                    };
                </script>
                <br>
                <div class="cart-total">
                    <h5>Tổng tiền</h5>
                    <br />
                    <table style="width:100%">
                        <tr>
                            <td>Tiền hàng</td>
                            <td style="text-align: right;"><a id="tamTinh">@ViewBag.tamtinh</a></td>
                        </tr>
                        <tr>
                            <td>Phí vận chuyển</td>
                            <td id="phiVanChuyen" style="text-align: right;">0 ₫</td>
                        </tr>
                        <tr>
                            <td>Giảm giá</td>
                            <td style="text-align: right;" id="giaTriGiam">-@ViewBag.giamgia</td>
                        </tr>
                        <tr>
                            <td>Thuế giá trị gia tăng (8%)</td>
                            <td style="text-align: right;" id="vat">@ViewBag.vat</td>
                        </tr>
                        <tr>
                            <td><b>Tổng cộng</b></td>
                            <td style="text-align: right;"><b id="tongTien">@ViewBag.tongtien</b></td>
                        </tr>
                    </table>
                    <br />
                    <a style="width:100%;border-radius:20px;" class="btn btn-dark" type="button" onclick="submitTTVC()">Thanh toán</a>
                    <i style="font-size:9px">Đăng nhập để nhận ngay ưu đãi tích luỹ 10% trên mỗi hoá đơn.</i>
                    <br />
                    <i style="font-size:9px"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="border-radius:20px;" class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="addToCartOk" class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="width:300px;">
        <div>
            <div class="toast-header">
                <img src="~/logo/icon.png" class="rounded me-2" width="15px;">
                <strong class="me-auto">Whisk & Flourisk</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <a id="toastMessage">Thêm sản phẩm thành công!</a>

            </div>

        </div>

    </div>
</div>

<script>
    function updateAddress() {
        var citySelect = document.getElementById('city');
        var cityText = citySelect.options[citySelect.selectedIndex].text;
        var districtSelect = document.getElementById('district');
        var districtText = districtSelect.options[districtSelect.selectedIndex].text;
        var wardSelect = document.getElementById('ward');
        var wardText = wardSelect.options[wardSelect.selectedIndex].text;
        var street = document.getElementById('street').value;

        // Kiểm tra xem street có giá trị không
        if (street.trim() == "") {
            street = "Không có thông tin";
        }

        var address = street + ', ' + wardText + ', ' + districtText + ', ' + cityText;

        // Kiểm tra và gán giá trị cho phần tử selectedText
        var selectedTextElement = document.getElementById('selectedText');
        if (selectedTextElement) {
            selectedTextElement.innerText = address;
        }

        // Kiểm tra và gán giá trị cho phần tử address
        var addressElement = document.getElementById('address');
        if (addressElement) {
            addressElement.value = address;
        }
    }

    function submitTTVC()
    {
        var formData = new FormData(document.getElementById('TTVCForm'));
        $.ajax({
            url: '@Url.Action("CheckOut", "Cart")',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result.success) {
                    if(result.type=="COD")
                    {
                        window.location.href = '/Home/PaymentSuccess';
                    }
                    else if(result.type=="MoMo")
                    {
                        window.location.href = '/Cart/MoMo_Payment';
                    }
                    //window.location.href = '/Home/PaymentSuccess';
                }
                else {
                    showToast(result.error);
                }

            }
        });
    }
</script>
<script>
    function CaculateShip() {
        var citySelect = document.getElementById('district');
        var cityText = citySelect.options[citySelect.selectedIndex].text;

        $.ajax({
            url: '/api/cart/calculate-ship',
            type: 'GET',
            data: { zone: cityText },
            success: function (result) {
                if (typeof result === 'number' && !isNaN(result)) { // Kiểm tra xem result có phải là số hợp lệ không
                    // Cập nhật phí vận chuyển trên trang
                    $('#phiVanChuyen').text(result.toLocaleString('vi-VN') + ' ₫');

                    // Cập nhật dữ liệu phí vận chuyển trong input ẩn
                    $('input[name="phivanchuyen"]').val(result);

                    // Lấy giá trị tổng tiền tạm tính từ trang
                    var tamTinhText = $('#tamTinh').text();
                    var cleanedTamTinh = tamTinhText.replace(/[^0-9]/g, '');
                    var tamTinh = parseInt(cleanedTamTinh, 10);
                    // Làm sạch và chuyển đổi giá trị tạm tính thành số
                    var vatText = $('#vat').text();
                    var cleanedVat = vatText.replace(/[^0-9]/g, '');
                    var vat = parseInt(cleanedVat, 10);
                    var giaTriGiamText = $('#giaTriGiam').text();
                    var cleanedGiaTriGiam = giaTriGiamText.replace(/[^0-9]/g, '');
                    var giaTriGiam = parseInt(cleanedGiaTriGiam, 10);
                    // Tính tổng tiền mới bao gồm phí vận chuyển
                    var tongTien = tamTinh + result+ vat - giaTriGiam;

                    // Cập nhật tổng tiền trên trang
                    $('#tongTien').text(tongTien.toLocaleString('vi-VN') + ' ₫');
                } else {
                    alert('Lỗi khi tính phí vận chuyển hoặc kết quả trả về không hợp lệ');
                }
            },
            error: function () {
                alert('Đã xảy ra lỗi khi gọi API tính phí vận chuyển');
            }
        });
    }

    document.getElementById('district').addEventListener('change', CaculateShip);
    
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="~/js/location.js"></script>