@using WebDungCuLamBanh.Helpers
@{
    ViewData["Title"] = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<WebDungCuLamBanh.Models.ChiTietDonHangModel>
@{
    int dem = 0;
}
@{
    int stt = 1;
}
<link href="~/css/toast_style.css" rel="stylesheet" />
<style>
    .cart{
        padding:0px;
    }
    .table-cart{
        padding:20px;
        background-color:white;
        border-radius:20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        overflow-x: auto;
    }
    .payment{
        padding-top:0px;
        padding:0px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    .col-sm-8{
        padding:30px;
    }

    .col-sm-4{
        padding:30px;
    }

    .cart-total
    {
        padding:15px;
        border-radius:20px;
        background-color: #ffd28d;
    }
    .banner-suppot{
        padding:30px;
        background-color: white;
        border-radius:20px;
        margin-right: 15px; /* Khoảng cách ngang giữa các cột */
        margin-left: 15px;
    }

    .padding-banner{
        padding:15px;
        margin-right: 15px; /* Khoảng cách ngang giữa các cột */
        margin-left: 15px;
    }
</style>
<div class="p-3 p-sm-4 p-lg-5">
    <div class="row">
        <div class="progress-stacked">
            <div class="progress" role="progressbar" aria-label="Segment one" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                <div class="progress-bar">Chọn sản phẩm</div>
            </div>
            <div class="progress" role="progressbar" aria-label="Segment two" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                <div class="progress-bar bg-info">Thông tin liên hệ</div>
            </div>
            <div class="progress" role="progressbar" aria-label="Segment three" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                <div class="progress-bar bg-info">Thanh toán</div>
            </div>
            <div class="progress" role="progressbar" aria-label="Segment three" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                <div class="progress-bar bg-info">Thành công</div>
            </div>
        </div>
    </div>
    <div class="row cart">
        <div class="col-sm-8">
            <h3>Giỏ hàng</h3>
            @if (Model == null)
            {
                <p>Giỏ hàng trống</p>
            }
            else
            {
                <p>Có <b>@ViewBag.dem sản phẩm</b> trong giỏ hàng của bạn.</p>
                <div class="col-sm-12 table-cart">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 45%;text-align: left;border-bottom: none;">Sản phẩm</th>
                                <th scope="col" style="width: 15%;text-align: center;border-bottom: none;">Giá</th>
                                <th scope="col" style="width: 10%;text-align: center;border-bottom: none;">Số lượng</th>
                                <th scope="col" style="width: 30%;text-align: center;border-bottom: none;">Thành tiền</th>
                                <th scope="col" style="width: 30%;text-align: center;border-bottom: none;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th class="row">
                                        <div class="col-4">
                                            <img src="@Html.DisplayFor(modelItem => item.DungCu.HinhAnh)" class="card-img-top" alt="" width="200px" style="border-radius:20px">
                                        </div>
                                        <div class="col-8">
                                            <p style=""><a style="text-decoration:none" href="/Product/Detail/@item.Id_DungCu">@Html.DisplayFor(modelItem => item.DungCu.TenDungCu)</a></p>
                                            <a style="color:gray;font-size:11px">@Html.DisplayFor(modelItem => item.DungCu.LoaiDungCu.TenLoaiDungCu)</a>
                                        </div>
                                    </th>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <b>
                                            @if (item.DungCu.GiaKhuyenMai > 0)
                                            {
                                                <strike>@Html.FormatCurrency(item.DungCu.Gia.Value)</strike>
                                                <br />

                                                @Html.FormatCurrency(item.DungCu.GiaKhuyenMai.Value)
                                            }
                                            else
                                            {
                                                @Html.FormatCurrency(item.DungCu.Gia.Value)
                                            }
                                        </b>
                                    </td>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <input style="width:70px" min="1" max="10" type="number" name="quantity" onchange="updateQuantity(@item.Id_ChiTietDonHang,this.value)" value="@item.SoLuong" />

                                    </td>
                                    <script>
                                        function updateQuantity(id, quantity) {
                                            var value = parseInt(quantity.value, 10);

                                            if (isNaN(value)) {
                                                quantity.value = 1; // Gán giá trị mặc định nếu giá trị nhập không hợp lệ
                                            } else if (value < 1) {
                                                quantity.value = 1;
                                            } else if (value > 10) {
                                                quantity.value = 10;
                                            }
                                            //In ra Id và Quantity
                                            $.ajax({
                                                url: "@Url.Action("UpdateQuantity", "Cart")",
                                                type: "POST",
                                                data: {
                                                    id: id,
                                                    quantity: quantity
                                                },
                                                success: function (result) {
                                                    if (result.success) {
                                                        location.reload();
                                                    } else {

                                                        alert(result.error);
                                                        location.reload();
                                                    }
                                                }
                                            });
                                        }
                                    </script>
                                    <td style="text-align: center; vertical-align: middle;"><b style="color:orange" id="donGia">@Html.FormatCurrency(item.DonGia.Value)</b></td>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <form method="post" asp-action="Delete">
                                            <input type="hidden" name="id" value="@item.Id_ChiTietDonHang" />
                                            <input style="border-radius:20px;border:none;" type="submit" value="x" />
                                        </form>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            }
        </div>
        <div class="col-sm-4">
            <div class="payment">
                <div class="cart-total">
                    <h5>Tổng tiền</h5>
                    <br />
                    <table style="width:100%">
                        <tr>
                            <td>Tiền hàng</td>
                            <td style="text-align: right;"><a id="tamTinh">@ViewBag.tamtinh</a></td>
                        </tr>
                        <tr>
                            <td>Phí vận chuyển</td>
                            <td style="text-align: right;">Chưa tính</td>
                        </tr>
                        <tr>
                            <td>Giảm giá</td>
                            <td style="text-align: right;" id="giaTriGiam">Chưa tính</td>
                        </tr>
                        <tr>
                        <td>Thuế giá trị gia tăng (8%)</td>
                        <td style="text-align: right;">@ViewBag.vat</td>
                        </tr>
                        <tr>
                            <td><b>Tổng cộng</b></td>
                            <td style="text-align: right;">
                                <b id="tongTien">
                                    @ViewBag.tongtien</b></td>
                        </tr>
                    </table>
                    <br />
                    <a style="width:100%;border-radius:20px;" class="btn btn-dark" type="button" href="/Cart/CheckOut"><b>Thanh toán</b></a>
                    <p></p>
                    <a style="width:100%;border-radius:20px;" class="btn btn-light" type="button" href="/Product/Index"><b>Tiếp tục mua hàng</b></a>
                </div>
            </div>
        </div>
    </div>
</div>





